@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');
*{
    margin: 0;
    padding:0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    background-color: black;
    color: white;
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    /*font-variation-settings: "wdth" 100;*/
}
/*Scrollbar*/
::-webkit-scrollbar{
    width: 0.5rem;
}
::-webkit-scrollbar-track{
    background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(127, 166, 49);
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(225, 219, 40);
}
/*Navigation*/
nav{
    border: 2px white solid;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    margin: 1rem 2rem;
    font-weight: 600;
}
nav ul li:hover{
    transform: scale(2);
}
h1{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-weight: 900;
}
/*Main Area*/
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
main p{
    text-indent: 1rem;
    margin: 10rem;
    padding: 1rem;
    background-color: black;
    border: 2px rgb(127, 166, 49) solid;
    box-shadow: 1rem 1rem 0rem 0rem rgb(127, 166, 49);
    animation-name: boxShadowGo;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
@keyframes boxShadowGo {
    0%{box-shadow: 1rem 1rem 0rem 0rem rgb(127, 166, 49)}
    50%{box-shadow: 1.3rem 1.3rem 0rem 0rem rgb(127, 166, 49)}
    100%{box-shadow: 1rem 1rem 0rem 0rem rgb(127, 166, 49)}
}
/*Spanned Text*/
.hovert{
    display: inline-block;
    background-color: white;
    border-radius: 0.2rem;
    color: black;
    text-indent: 0rem;
}
main p .hovert:hover{
    transform: scale(1.1);
    color: white;
    background-color: black;
    transition: 0.2s ease;
}
/*Footer*/
footer img{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    height: 5rem;
    width: auto;
    transform: rotate(-5deg);
    animation-name: hoveringIcon;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes hoveringIcon {
    0%{bottom: 1rem}
    50%{bottom: 2rem}
    100%{bottom: 1rem}
}